<section>
  <div class="content">
    <div class="row">
      <div class="column">
        <h1>FREQUENTLY ASKED QUESTIONS</h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <ul>
          <li>
            Are you a member of the Better Business Bureau? Yes, we are a member of the BBB in good standing.<br />
            <%= link_to "READ MORE about the Live Oak Philosophy", about_us_our_philosophy_path %>
          </li>
          <li>
            We have a home to sell; can you build on a contingency? Yes, we offer a resale program that, in most cases, allows you to begin building your new home while we list and market your current home.
          </li>
          <li>
            Do I need to have my own plans before we begin? No, part of our full service design to build program includes designing your own floor plan unique to your specific needs and lifestyle.<br />
            <%= link_to "READ MORE about our Building Process", design_and_build_building_process_path %>
          </li>
          <li>
            We don't own a lot? Do we need our own land/home site before we start this process? Our qualified staff can assist you in finding the perfect home site in the neighborhood or community that meets your criteria.<br />
            <%= link_to "TAKE A LOOK at the Live Oak Neighborhoods", design_and_build_neighborhoods_path %>
          </li>
          <li>
            What price ranges do you build in? We are a full custom builder, what you can imagine we can bring to life. We have built homes ranging from $100,000 to $2,500,000 so anything is possible.
          </li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>
            Do we need to obtain our own financing during the building process? No, we have relationships with numerous local banks where we can obtain interim financing for your project.<br />
            <%= link_to "READ MORE about our Building Process", design_and_build_building_process_path %>
          </li>
          <li>
            About how long does it take to build a new home? Typically the building process takes between 4 -8 months dependent on size.<br />
            <%= link_to "READ MORE about our Building Process", design_and_build_building_process_path %>
          </li>
          <li>
            Will you work with my realtor? Yes, Live Oak has wonderful relationships with numerous local realtors and is happy to have them be a part of your project.
          </li>
          <li>
            How do we begin the process? Contact our custom home sales department at (361) 850-9153 to set up your initial meeting.<br />
            <%= link_to "MORE DETAILS for getting in touch with us", new_contact_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
