<section class="mainSlider">

  <div class="heading">
    <h1>
      <small>FIND YOUR NEIGHBORHOOD</small>
      BUILD YOUR HOME
    </h1>
  </div>

  <div class="mask"></div>

  <ul id="mainSlider" class="rslides">
    <li><%= image_tag "home-01.jpg" %></li>
    <li><%= image_tag "home-02.jpg" %></li>
    <li><%= image_tag "home-03.jpg" %></li>
  </ul>

  <div class="scrollDownBtnContainer">
    <a href="#welcome" class="scrollDownBtn"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>

</section>

<section class="welcome">
  <a name="welcome"></a>

  <div class="imgBox">
    <%= image_tag "welcome-kitchen.jpg" %>
  </div>

  <div class="content">
    <h1>WELCOME</h1>
    <p>We pride ourselves on providing our customers with a full service custom home design experience. This allows us to minimize the time and frustration involved in a traditional building experience and focus on what matters most; building your family's home.</p>
    <p>We do this by combining the designer for your home, budget requirement specifications as well as the construction management all under one roof.</p>
    <p>Our goal throughout this process is to provide you with the most stress free building experience while giving you peace of mind that your home will be designed, budgeted, and built with quality and integrity.</p>
  </div>

  <div class="sliderContainer">
    <ul id="welcomeSlider" class="rslides">
      <li><%= image_tag "home-01.jpg" %></li>
      <li><%= image_tag "home-02.jpg" %></li>
      <li><%= image_tag "home-03.jpg" %></li>
    </ul>
  </div>

  <div class="scrollDownBtnContainer">
    <a href="#philosophy" class="scrollDownBtn"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>

</section>

<section class="philosophy">
  <a name="philosophy"></a>

  <div class="imgBox">
    <%= image_tag "our-philosophy-outdoor.jpg" %>
  </div>

  <div class="content">
    <h1>OUR PHILOSOPHY</h1>
    <p>Live Oak Construction understands the true meaning of home. It is more than just an address, it is where you live and experience intimate moments amongst family and friends.</p>
    <p>With over 20 years of experience we know that to truly be successful we must capture your personal vision and design a home that both reflects your personality and enhances your lifestyle.</p>
    <p>Our commitment to you goes well beyond a contract. It is in providing you with constant support, attention to detail and incomparable customer service throughout your building experience. Our exceptional quality and outstanding craftsmanship ensure your dreams become a reality in a Live Oak Construction Custom Home built for a lifetime.</p>
  </div>

  <div class="sliderContainer">
    <ul id="philosophySlider" class="rslides">
      <li><%= image_tag "home-01.jpg" %></li>
      <li><%= image_tag "home-02.jpg" %></li>
      <li><%= image_tag "home-03.jpg" %></li>
    </ul>
  </div>
</section>
