<div class="menu">
  <%= link_to "HOME",  root_path %> <span>|</span>
  <%= link_to "ABOUT US",  about_us_path %> <span>|</span>
  <%= link_to "INSPIRATION",  inspiration_path %> <span>|</span>
  <%= link_to "DESIGN AND BUILD",  design_and_build_path %> <span>|</span>
  <%= link_to "CONTACT US",  contact_us_path %>
</div>
