<%= form_for(contact) do |f| %>

  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="column">
      <div class="field">
        <%= f.label :name, class:'hide' %>
        <%= f.text_field :name, required: 'true', placeholder:'Name' %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= f.label :email, class:'hide' %>
        <%= email_field('contact', 'email', required: 'true', placeholder:'Email') %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :comments, class:'hide' %>
    <%= f.text_area :comments, required: 'true', placeholder:'Message' %>
  </div>

  <div class="actions">
    <%= f.submit("SEND", id:"submit", onclick:"return verifyHuman($('#spamChecker').val());") %>
  </div>

  <input type="hidden" name="spamChecker" id="spamChecker" value="" />

<% end %>
