<!DOCTYPE html>
<html>
  <head>
    <title>Live Oak Custom Homes - Find Your Neighborhood, Build Your Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="We provide our customers with a full service custom home design experience. We minimize the frustration involved in a traditional building experience and focus on your family's home.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21324105-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

    <%= render "shared/header" %>
    <%= yield %>

    <footer>
      <div class="menu">
        <%= link_to "HOME", root_path %> <span>|</span>
        <%= link_to "ABOUT US", about_us_path %> <span>|</span>
        <%= link_to "INSPIRATION", inspiration_path %> <span>|</span>
        <%= link_to "DESIGN & BUILD", design_and_build_path %> <span>|</span>
        <%= link_to "OUR WARRANTY", our_warranty_path %> <span>|</span>
        <%= link_to "CONTACT US", contact_us_path %>
      </div>
      <div class="copyright">
        Copyright 2017 Live Oak Construction, Inc. All Rights Reserved.
      </div>
    </footer>

    <script src="https://use.fontawesome.com/3fcb9a3989.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAnCY4dBCwsd_27_g7N-M76vIIWWYzOJg&callback=loadMap" async defer></script>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
