<!DOCTYPE html>
<html>
  <head>
    <title>Live Oak Custom Homes - Find Your Neighborhood, Build Your Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="We provide our customers with a full service custom home design experience. We minimize the frustration involved in a traditional building experience and focus on your family's home.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/responsiveslides.min.js"></script>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>

    <script src="https://use.fontawesome.com/3fcb9a3989.js"></script>
  </body>
</html>
